.header {
    height: 50px;
    width: 400px;
    color: white;
    background-color: blue;
    font-size: 30px;
    padding: 10px;
}

form {
    height: 400px;
    width: auto;
}

.form {
    height: 400px;
    width: auto;
}

.tweet_title {
    height: 100px;
    width: auto;
    padding: 28px;
}

label {
    float:left;
    padding: 20px;
    font-size: 20px;
}
input#post_name {
    height: 20px;
    width: 200px;
    padding: 10px;
}

.tweet_content {
    height: 50px;
    width: auto;
    padding: 10px;
}
input#post_content {
    height: 20px;
    width: 200px;
    padding: 10px;

}

.btn {
    background-color: hsla(231, 28%, 50%, 0.521);
  color: #fff;
  float: left;
  padding: 10px;
  position: absolute;
  left: 150px;
  font-size: 10px;

}

body p {
    font-size: 50px;
}
#text {
    float: left;
}

footer {
    height: 50px;
    width: 200px;
    color: white;
    font-size: 30px;
    background-color: aqua;
    padding: 10px;
    margin-top: 30px;
}

table {
    height: 150px;
    width: auto;
    
}

table td {
    padding: 10px;
    border: solid #01050a 2px;
}

.index {
overflow: scroll;
}